@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-banner {
  margin-bottom: 90px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 50px;
  }

  .fraction {
    &__wrap {
      z-index: 2;
      width: 250px;
      position: relative;
      margin-left: 30px;
    }
  }

  &__inner {
    height: 100%;
    @media (max-width: $breakpoint-md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  & .container {
    @media (max-width: $breakpoint-md) {
      padding: 0;
    }
  }

  .swiper {
    &-entry {
      @media (max-width: $breakpoint-md) {
        height: 100%;
      }
    }

    &-container {
      height: 600px;
      background-color: #E5E2DD;
      padding-bottom: 0;
      @media (max-width: $breakpoint-md) {
        height: 100%;
      }
    }
  }

  &__content {
    max-width: 460px;
    padding: 65px 0 150px 28px;
    @media (max-width: $breakpoint-md) {
      padding: 30px 0 20px 15px;
    }
  }

  & .heading {
    margin-bottom: 22px;
    @include fontSize(35, 65);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 12px;
    }

    & span {
      color: $accentColor;
    }
  }

  & .desc {
    letter-spacing: 1.75px;
    @include fontSize(20, 25);
  }


  & .bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @media (max-width: $breakpoint-md) {
      height: 300px;
      width: 100%;
      position: relative;
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(91deg, #000 38.5%, rgba(0, 0, 0, 0.00) 98.44%);

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .swiper {
    &-button {
      &__wrap {

      }
    }

    &-controls {
      position: absolute;
      bottom: 60px;
      left: 35px;

      @media (max-width: $breakpoint-md) {
        bottom: 20px;
        left: 20px;
      }
    }
  }
}

.contact-list {
  & li {
    margin-bottom: 20px;
    padding-left: 26px;

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $accentColor;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    & a {
      font-size: 20px;
      @include transition(.4);
      font-weight: 300;
      color: $whiteColor;

      &:hover {
        color: #F1C486;
      }

    }
  }
}

.s-contacts {
  padding: 0 0 100px 0;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 60px;
    margin: 0;
  }

  & .heading {
    margin-bottom: 16px;
    @media (min-width: $breakpoint-md) {
      width: 140%;
    }
    @media (max-width: $breakpoint-md) {
      text-align: center;
      margin-bottom: 12px;
    }
  }

  &__form {
    margin-bottom: 120px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }

    & .btn-primary {
      width: 100%;
      max-width: 320px;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto;
      }
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    z-index: 1;

    &--wrap {
      margin-top: 100px;
      height: 100%;
      @media (max-width: $breakpoint-md) {
        height: 495px;
        margin: 0;
        width: calc(100% + 30px);
        left: -15px;
      }
    }
  }

  &__inner {
    padding: 40px 0 40px 40px;
    width: 100%;
    position: relative;
    @media (max-width: $breakpoint-md) {
      padding: 20px;

    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      border: 1px solid #B4A597;
      height: 100%;
      width: 100%;
      z-index: 2;
      pointer-events: none;
      @media (min-width: $breakpoint-md) {
        width: 180%;
      }
      @media (max-width: $breakpoint-md) {
        height: 120%;
      }
    }
  }

  & .social__list {
    margin-top: 30px;
  }
}

.s-cta {
  margin-bottom: 90px;

  & .heading {
    color: $whiteColor;
    -webkit-text-fill-color: white;
    max-width: 96%;
    @include fontSize(40, 55);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 13px;
      text-align: center;
      width: 100%;
    }
  }

  & .btn {
    display: block;
    margin: 14px auto 0 auto;
  }

  &__bg {
    background: linear-gradient(114deg, #A1896E 16.09%, #ECCAA1 52.75%, #A1896E 81.41%);
    padding: 77px 56px;
    @media (max-width: $breakpoint-md) {
      padding: 40px 20px 50px 20px;
    }
  }
}

